
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 1;
  animation: show .5s ease;
  overflow-x: hidden;
  overflow-y: auto;
}

.back-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 1.5rem;
  padding-left: 1rem;
  cursor: pointer;
}

.back-button img {
  width: 40px;
  height: 40px;
}

@media(max-width:728px) {
  .modal-overlay {
    padding: 0;
  }
  .modal-overlay
    .modal {
      padding-top: 7rem;
      max-width: 100%;
      height: 100%;
      top: auto;
      left: auto;
      transform: translate(0,0);
      border-radius: 0;
      overflow-y: scroll;

    }
    .close-button {
      display: none;
    }

    .back-button {
      display: block;
    }

    .modal-overlay .modal .container {
      padding: 0 1.2rem 0 1.2rem;
    }

    .container .title {
      font-size: 1.75rem;
    }

    .container .form {
      flex-direction: column;
    }

    .container .form .left-form {
      padding: 0;
    }

    .container .date .button-array {
      display: block;
    }

    .container .date .button-array button {
      width: 5rem;
      margin: 0.25rem;
      margin-left: 0;
    }

    .container .submit-button {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .container .submit-button button {
      width: 50%;
    }
}

.close-button {
  position: absolute;
  transform: translate(40%, -40%);
  top: 0;
  right: 0;
  cursor: pointer;
}

.close-button img {
  width: 60px;
  height: 60px;
}

.modal-overlay .container {
  width: 100%;
  padding: 0 2rem 0 2rem;
}

.modal {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  max-height: 100%;
  background: #FFF;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 5px 12px 10px #0000;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  padding-bottom: 2.5rem;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
}

.left-form {
  width: 100%;
  padding-right: 4rem;
}

.right-form {
  width: 100%;
}

.input-form {
  display: flex;
  flex-direction: column;
  padding: 0 0rem 1.5rem 0;
}

.input-form input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 0.2rem solid #FFCC33;
  padding-bottom: 0.3rem;
}

.input-form .agenda-title {
  padding-bottom: 0.5rem;
  width: 100%;
}

.button-array {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5rem;
}

button {
  outline: none;
  border-width: 0.1px;
  border-color: white;
  border-style: solid;
  cursor: pointer;
}

.date button {
  width: 16%;
  border-radius: 0.7rem;
  height: 2.2rem;
  background-color: #cccccc;
  color: #000000;
  opacity: 0.7;
}

.date .active {
  width: 16%;
  border-radius: 0.7rem;
  height: 2.2rem;
  background-color: #FFCC33;
  color: #ffff;
  opacity: 1;
}

.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 2.5rem;
  width: 100%;
}

.submit-button button {
  font-size: 1rem;
  font-weight: 700;
  width: 25%;
  height: 2.2rem;
  border-radius: 0.5rem;
  background-color: #FFCC33;
  box-shadow:3px 8px 6px 0px rgba(0,0,0,0.1);
}

.submit-button button:active {
  box-shadow: -1px 3px 1px #666;
  transform: translateY(2px);
}


@media (max-width:768px){

    .modal-overlay{
        min-height:auto;
        background:white;
    }
    .modal-overlay .container{
        padding:1em 2rem;
        min-height:100vh;
    }

    .modal{
        min-width:100%;
        min-height:100vh;
        flex-direction:column;
        border-radius: 0rem;

    }

    .left-form{
        padding:0;
    }

    .title{
        padding-top:2rem;
    }

    .form{
        flex-direction:column;
    }

    .close-mobile {
      position: absolute;
      transform: translate(40%, -40%);
      top: 36px;
      left:0;
      cursor:pointer;
    }

    .close-mobile img {
      width: 50px;
      height: 50px;
    }

    .mobileCont{
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        width:auto;
        height:auto;
        flex-flow: row wrap;
    }

    .mobileCont div{
        width:60px;
        display:flex;
        justify-content:center;
        align-items:center;
        padding: 0.5rem;
    }


    .mobileCont p{
        margin:0;
    }

    .mobileCont .active{
        width:60px;
    }

    .submit-button{
        padding-bottom:1rem;
    }

    .submit-button button{
        width:65px;
    }

}

h3 {
  width: 100%;
  color: #DC5539;
  margin-top: 0rem;
  margin-bottom: 0.25rem;
  line-height: 1;
  font-size: 12px;
}